@import "tailwindcss";
/* @source "../views"; */

@layer utilities {
    .marquee {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 15s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

@keyframes flashHighlight {
    0%,
    100% {
        background-color: #2e3192;
        color: #ffffff;
    }
    50% {
        background-color: #fbbf24;
        color: #000000;
    } /* yellow flash */
}

.flash-active {
    animation: flashHighlight 1s ease-in-out infinite;
}

.qidraBg {
    background-size: cover;
    background-position: center center; /* 👈 keep it centered */
    background-repeat: no-repeat;
    background-attachment: fixed; /* 👈 makes it stay in place */
    height: 50vh;
    width: 100vw;
}
