@import "tailwindcss";
/* @source "../views"; */

@layer utilities {
    .marquee {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 15s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

.qidraBg {
    background-size: cover;
    background-position: center center; /* 👈 keep it centered */
    background-repeat: no-repeat;
    background-attachment: fixed; /* 👈 makes it stay in place */
    height: 50vh;
    width: 100vw;
}
