// Global styles

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter/Inter_24pt-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter/Inter_24pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter/Inter_24pt-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/inter/Inter_24pt-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

body {
    background-image: url('@/images/background.png');
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
}

#sidebar-doc {
    background-image: url('@/images/doc_background.png');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    //justify-content: center;
}

.divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.ref {
    width: 60px;
    height: 35px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #B0B2B7;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    width: 60px;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &.incomplete {
        background-color: #FF3B30;
    }
    &.complete {
        background-color: #CDCFD2;
    }
}

.nav-item {
    border-radius: 5px; // matches the .ref/.status rounding visually

    &.active {
        .ref,
        .status {
            border: 2px solid #2E3192;
        }

        .ref {
            background-color: #2E3192;
            color: white;
            border-bottom: none; // avoid double thickness where .ref and .status meet
        }

        .status {
            border-top: none;
        }
    }
}

.options-container {
    border: 1px solid rgba(46,49,146,.10);
    border-radius: 15px;
    overflow: hidden;

    .option {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.7rem 1.1rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(46, 49, 146, 0.10);
        }

        input[type="checkbox"] {
            min-width: 20px;
            min-height: 20px;
            border-radius: 3px;
        }

        &.selected {
            background-color: rgba(46,49,146,.10); // dark gray
        }

        .custom-checkbox {
            appearance: none;
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid #999;
            background-color: transparent;
            cursor: pointer;
            transition: background-color 0.2s;

            &:checked {
                background-color: #2E3192; // fill color when checked
                border-color: #2E3192;
            }

            &[type="radio"] {
                min-width: 20px;
                min-height: 20px;
                border-radius: 18px;
            }
        }
    }
}

.ql-toolbar {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid rgba(46, 49, 146, 0.1) !important;
}

.wysiwyg {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgba(46, 49, 146, 0.1) !important;

    .ql-editor {
        min-height: 100px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }
}

//.ql-container.ql-snow
